# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# MyPy
.mypy_cache/

# Env
.env
.env.local
