run = "bash replit_run.sh"

[env]
PYTHONPATH = "server"
NODE_ENV = "production"

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "cloudrun"
ignorePorts = false
runCommand = "bash replit_run.sh"
